// Fonts
@font-face {
  font-family: 'IRANSans4';
  src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot');
  src: url('../fonts/IRANSans4/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSans4/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'),
  url('../fonts/IRANSans4/WebFonts/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

@import "~toastr";
@import '~vue2-timepicker/dist/VueTimepicker.css';

.display-time{
  direction: ltr;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #edf2f7;
}

//@tailwind base;
//
//@tailwind components;
//
//@tailwind utilities;